@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* CSS RESET  */
/* Credit:  https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END CSS RESET */

/* VARIABLES */

:root {
  --rust-brown-color: #a44200;
  --gunmetal-color: #8d969a;
  --cream-color: #feffbe;
  --lavender-color: #d2d6ef;
  --rosy-taupe-color: #bd9391;
  --royal-gold-color: #f0d883;
}

/* END VARIABLES */

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* 
div {
  border: solid 1px black;
} */

.header {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 9fr 5fr;
  padding: 15px 50px 15px 50px;
}

.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-container input {
  width: 100%;
  margin: 10px;
  background-color: var(--lavender-color);
  border: none;
  border-radius: 15px;
  height: 30px;
}

.notification-container,
.uploads-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.notification-container {
  justify-content: end;
}

.notification-container * {
  margin: 15px 15px 15px 15px;
}

.uploads-container {
  justify-content: space-evenly;
}

.uploads-container button {
  background-color: var(--lavender-color);
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 90px;
  margin: 15px;
  font-weight: bold;
}

.uploads-container button:hover {
  cursor: pointer;
}

.greetings-container {
  display: flex;
  align-items: center;
}

.greetings-container img {
  margin-right: 20px;
}

.content-container {
  background-color: var(--lavender-color);
  display: grid;
  grid-column: 2/4;
  gap: 30px;
  grid-template-columns: 5fr 2fr;
  box-shadow: inset 0px 5px 8px var(--gunmetal-color);
}

.content-container h3 {
  margin-bottom: 8px;
}

.projects-container {
  grid-column: 1/2;
  padding: 25px 0px 25px 25px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border-left: solid 10px var(--rust-brown-color);
  box-shadow: 5px 5px 8px var(--gunmetal-color);
}

.card .card-buttons {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.card button {
  background-color: white;
  border: none;
  margin: 10px;
}

.card button:hover {
  cursor: pointer;
}

.right-container {
  grid-column: 2/3;
  margin-right: 30px;
  padding-top: 25px;
}

.announcements-container,
.trending-container {
  grid-column: 2/3;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--gunmetal-color);
}

.announcements-container {
  margin-bottom: 25px;
}

.announcement {
  margin: 10px 0 10px 0;
}

.announcement p,
.trending-item p {
  font-size: 14px;
}

.announcement h3,
.trending-item h3 {
  font-size: 18px;
}

.announcement + .announcement {
  border-top: 1px solid var(--rust-brown-color);
  padding-top: 10px;
}

.trending-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.trending-item + .trending-item {
  margin-top: 25px;
}

.trending-text {
  margin-left: 25px;
}

.sidebar {
  grid-row: 1/3;
  padding: 15px;
  background-color: var(--royal-gold-color);
  font-weight: 600;
}

.sidebar .dashboard-logo-container {
  margin-bottom: 30px;
}

.sidebar .dashboard-logo-container img {
  max-width: 45px;
  min-width: 45px;
  height: auto;
}

.sidebar ul {
  padding: 0;
  margin: 0 0 100px 0;
}

.sidebar li {
  margin: 10px 10px 10px 0px;
  font-size: 20px;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
}

.sidebar li img {
  margin-right: 15px;
}

.sidebar a {
  text-decoration: none;
  margin-left: 15px;
  color: black;
}

.sidebar:visited {
  color: black;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.dashboard-logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
